.venv/
.control_center_sudo_password
R4_WIFI35/wifi_config.local.h
config/monitor_config.local.json
.control_center_wifi_settings.properties
R4_WIFI35/display_config.local.h
R3_MonitorScreen28/display_config.local.h
R3_MonitorScreen35/display_config.local.h
R3_MEGA_MonitorScreen35/display_config.local.h
R3_MEGA_MonitorScreen28/display_config.local.h
R4_WIFI35/page_config.local.h
R3_MonitorScreen28/page_config.local.h
R3_MonitorScreen35/page_config.local.h
R3_MEGA_MonitorScreen28/page_config.local.h
R3_MEGA_MonitorScreen35/page_config.local.h
config/board_page_profiles.properties
